{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * persistiveutm plugin for Craft CMS 3.x
 *
 * persistiveutm index.twig
 *
 * @author    Disposition Tools
 * @copyright Copyright (c) 2022 Disposition Tools
 * @link      https://www.disposition.tools
 * @package   Persistiveutm
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("dispositiontools\\persistiveutm\\assetbundles\\persistiveutm\\PersistiveutmAsset") %}
{% do view.registerAssetBundle("dispositiontools\\persistiveutm\\assetbundles\\utmreportscpsection\\UtmreportsCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/dispositiontools/craft-persistiveutm/persistiveutm/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "persistiveutm" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('persistiveutm') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@dispositiontools/persistiveutm/assetbundles/utmreportscpsection/dist', true) ~ '/img/Utmreports-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('persistiveutm') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Utmreports CP Section body goes here"|t('persistiveutm') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
